name: Build EXE

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v2

    - name: Build EXE
      run: msbuild AutoUpdateDll.csproj /p:Configuration=Release

    - name: Upload EXE
      uses: actions/upload-artifact@v4
      with:
        name: AutoUpdateDll
        path: bin/Release/*.exe
